.App {
  background: #dbfcff;
}

.App footer {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 0px;
}

.App img {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 24px;
  color: #2f536f;
}

h2 {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 18px;
}

.search-feature {
  margin: 0 auto;
  margin-top: 20px;
}

.App section {
  background: white;
  padding: 20px;
  border-radius: 6px;
}
