.Dictionary {
  color: #2f536f;
}
.Dictionary section {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 80%;
  display: block;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 6%);
}

.Dictionary input {
  width: 100%;
  padding: 4px 4px;
  border: 1px solid #ddd;
  color: #2f536f;
  border-radius: 8px;
  font-size: 24px;
}

.Dictionary p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 6px;
  opacity: 0.7;
}

.Dictionary input:focus {
  outline-color: #5de1e6;
}

.Dictionary h1 {
  font-size: 32px;
  opacity: 0.9;
  color: #2f536f;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
}

.Dictionary h2 {
  font-size: 16px;
  text-align: center;
  font-style: italic;
  margin-bottom: 8px;
  opacity: 0.7;
}

.Dictionary h3 {
  font-size: 22px;
  margin-bottom: 18px;
}

.Dictionary hr {
  margin-bottom: 20px;
}
